In [17]:

import pandas as pd
import numpy as np

target_list = np.array([3., '?', 2., 5., '*', 4., 5., 6., '+', 3., 2., '&', 5., '?', 7., '!'])
target_list = np.reshape(target_list, (4, 4)) # reshape list to [4, 4]
df = pd.DataFrame(target_list) # nparray to dataframe

df

     0    1    2    3
0  3.0    ?  2.0  5.0
1    *  4.0  5.0  6.0
2    +  3.0  2.0    &
3  5.0    ?  7.0    !

In [18]:
missing = ['?', '*', '+', '&', '!'] # non numeric symbol list
df.replace(missing, np.nan, inplace=True)
df = df.astype(float) # change type to float

In [19]:
df

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  NaN  4.0  5.0  6.0
2  NaN  3.0  2.0  NaN
3  5.0  NaN  7.0  NaN

In [20]:
df.isna().any()

0     True
1     True
2    False
3     True
dtype: bool

In [21]:
df.isna().sum()

0    2
1    2
2    0
3    2
dtype: int64

In [22]:
df.dropna(how='any')

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [23]:
df.dropna(how='all')

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  NaN  4.0  5.0  6.0
2  NaN  3.0  2.0  NaN
3  5.0  NaN  7.0  NaN

In [24]:
df.dropna(thresh=1)

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  NaN  4.0  5.0  6.0
2  NaN  3.0  2.0  NaN
3  5.0  NaN  7.0  NaN

In [25]:
df.dropna(thresh=2)

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  NaN  4.0  5.0  6.0
2  NaN  3.0  2.0  NaN
3  5.0  NaN  7.0  NaN

In [26]:
df.dropna(thresh=3)

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  NaN  4.0  5.0  6.0

In [27]:
df.fillna(100)

       0      1    2      3
0    3.0  100.0  2.0    5.0
1  100.0    4.0  5.0    6.0
2  100.0    3.0  2.0  100.0
3    5.0  100.0  7.0  100.0

In [28]:
mean = df.mean(axis=0)
median = df.median(axis=0)

In [29]:
df.fillna(mean)

     0    1    2    3
0  3.0  3.5  2.0  5.0
1  4.0  4.0  5.0  6.0
2  4.0  3.0  2.0  5.5
3  5.0  3.5  7.0  5.5

In [30]:
df.fillna(median)

     0    1    2    3
0  3.0  3.5  2.0  5.0
1  4.0  4.0  5.0  6.0
2  4.0  3.0  2.0  5.5
3  5.0  3.5  7.0  5.5

In [31]:
df.fillna(method='ffill')

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  3.0  4.0  5.0  6.0
2  3.0  3.0  2.0  6.0
3  5.0  3.0  7.0  6.0

In [32]:
df.fillna(method='bfill')

     0    1    2    3
0  3.0  4.0  2.0  5.0
1  5.0  4.0  5.0  6.0
2  5.0  3.0  2.0  NaN
3  5.0  NaN  7.0  NaN

In [151]:
#forfun

     0    1    2    3
0  3.0  NaN  2.0  5.0
1  3.0  4.0  5.0  6.0
2  3.0  3.0  2.0  6.0
3  5.0  3.0  7.0  6.0